<md-input-container>
    <label>{{'datatype.textarea.minlength' | synonym}}</label>
    <input type="number" ng-model="structure.options.minlength" min="0" ng-max="structure.options.maxlength"/>
</md-input-container>

<md-input-container>
    <label>{{'datatype.textarea.maxlength' | synonym}}</label>
    <input type="number" ng-model="structure.options.maxlength" ng-min="structure.options.minlength + 1"/>
</md-input-container>

<md-input-container>
    <label>{{'datatype.textarea.pattern' | synonym}}</label>
    <input type="text" ng-model="structure.options.pattern"/>
</md-input-container>

<md-input-container>
    <label>{{'datatype.textarea.trim' | synonym}}</label>
    <input type="number" ng-model="structure.options.trim" ng-min="1"/>
</md-input-container>
